img{
    /* width: 100%; */
    height: 200px;
}
.home-carousel{
    // margin-bottom: 20px;
   .carousel-slide{
    background-color: yellow !important;
    color: black; 
   }
   .carousel-caption{
    color: black; 
   }
}


